# Data Types and Structures Questions

1. What are data structures, and why are they important?
  - Answer:

  Data structures are a way of organizing and storing data in a computer so that it can be accessed and modified efficiently. They are important because they:
   

*   Improve efficiency

*   Manage large amounts of data
*   Enable complex algorithms


*   Promote code organization and reusability
  
2. Explain the difference between mutable and immutable data types with examples.
  - Answer:

  Mutable Data Types: Their values can be changed in place without creating a
new object.

Examples of mutable types in Python:

* list

* dict

* set

* bytearray

Immutable Data Types: Their values cannot be changed once created.
Any attempt to modify them creates a new object in memory.

Examples of immutable types:

* int

* float

* str

* tuple

* bool

* frozenset

* bytes (partially)

3. What are the main differences between lists and tuples in Python?
  - Answer:

Lists in Python:

* A list is a mutable, ordered collection of items.

* Mutable means you can change, add, or remove elements after the list is created.

* Lists are created using square brackets [].

* Lists can store different data types (integers, strings, floats, etc.).

* Lists have many built-in methods like: append(), remove(), pop(), sort(), reverse().

Tuples in Python:

* A tuple is an immutable, ordered collection of items.

* Immutable means once a tuple is created, you cannot change, add, or remove its elements.

* Tuples are created using parentheses ().

* Tuples are faster and use less memory than lists.

* Tuples have only two main methods: count() and index().

4. Describe how dictionaries store data.
  - Answer:

  Dictionaries store data as key–value pairs using a hash table, where each unique and immutable key is converted into a hash value that determines where its corresponding value is stored, allowing very fast lookup and retrieval.

5. Why might you use a set instead of a list in Python?
  - Answer:

  You might use a set instead of a list when you want to store unique items only and need faster membership checking.
Sets automatically remove duplicates and use a hash table, which makes checking whether an item exists much faster than in a list.

6. What is a string in Python, and how is it different from a list?
  - Answer:

  A string in Python is a sequence of characters enclosed in quotes (' ' or " ").

Example:

name = "Hello"


A string is immutable, meaning you cannot change its characters after it is created.

  String

* A string is a sequence of characters.

* It is immutable (cannot be changed after creation).

* It is written using quotes like "hello".

List

* A list is a collection of multiple items.

* It is mutable (you can add, remove, or change items).

* It is written using square brackets like [1, 2, 3].

7. How do tuples ensure data integrity in Python?
  - Answer:

  Tuples ensure data integrity because they are immutable, meaning their values cannot be changed after creation.
This prevents accidental modification, keeps the data safe, and makes it reliable for storing fixed information.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - Answer:

  A hash table is a data structure that stores data using a key → hash value → memory location system.
Python dictionaries use a hash table internally, which means each key is converted into a hash value that decides where its value is stored.

This makes dictionary operations like searching, inserting, and deleting very fast.


9. Can lists contain different data types in Python?
  - Answer:

Yes, lists can contain different data types in Python.

A single list can hold integers, strings, floats, booleans, or even other lists and objects.

10. Explain why strings are immutable in Python.
  - Answer:

  Strings are immutable in Python to improve performance, memory efficiency, and security.
Because they cannot be changed after creation, Python can safely reuse them, avoid accidental modifications, and make operations like hashing and storing strings faster and more reliable.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Answer:

  * Dictionaries let you access data using keys instead of indexes, which is faster and more meaningful.

* They store data as key–value pairs, making it easy to look up information quickly.

* They provide very fast search, insert, and delete operations because they use a hash table internally.

12. Describe a scenario where using a tuple would be preferable over a list.
  - Answer:

  A tuple is preferable when you want to store fixed data that should not change, such as coordinates of a point (10, 20) or days of the week.
  
Since tuples are immutable, they protect the data from accidental modification, ensuring it stays constant throughout the program.

13. How do sets handle duplicate values in Python?
  - Answer:

  Sets automatically remove duplicate values.

If you add the same value more than once, the set keeps only one copy, because sets store only unique elements.

14. How does the “in” keyword work differently for lists and dictionaries?
  - Answer:

 * In a list, the in keyword checks if a value exists in the list.
Example: 5 in [1, 2, 5] → checks for the value 5.

* In a dictionary, the in keyword checks only for keys, not values.
Example: "name" in {"name": "Aman"} → checks for the key "name".

15. Can you modify the elements of a tuple? Explain why or why not.
  - Answer:

*  No, you cannot modify the elements of a tuple because tuples are immutable.

* Once a tuple is created, its values cannot be changed, added, or removed.

* This immutability helps protect data from accidental modification and ensures data integrity.

16. What is a nested dictionary, and give an example of its use case?
  - Answer:

  A nested dictionary is a dictionary that contains another dictionary as its value.
It is used to store complex or structured data in multiple levels.

Example use case:

Storing student information where each student has details like name, age, and marks:

students = {
    "student1": {"name": "Aman", "age": 20, "marks": 85},
    "student2": {"name": "Riya", "age": 19, "marks": 90}
}


This is useful when you need to organize data in a hierarchical or grouped format.

17. Describe the time complexity of accessing elements in a dictionary.
  - Answer:

  Accessing an element in a Python dictionary has an average time complexity of O(1), meaning it takes constant time.

This is because dictionaries use a hash table, which allows Python to find the value directly using the key’s hash.

In the worst case (very rare), it can be O(n) due to hash collisions.

18. In what situations are lists preferred over dictionaries?
  - Answer:

  Lists are preferred when:

* You need to store ordered data.

* You want to access items by position (index).

* Your data does not require key–value pairs.

* You need a simple, sequential collection like names, numbers, or items in a queue.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Answer:

  Dictionaries are considered unordered because their items are stored based on hash values, not fixed positions or indexes.

Since the data is placed according to the key’s hash, you cannot access items by index like in a list.

Instead, you access data only by its key, which makes retrieval fast but not position-based.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - Answer:

  Difference between a list and a dictionary in terms of data retrieval

* List: You retrieve data using an index, which is a number showing the position of the item (e.g., my_list[0]).

* Dictionary: You retrieve data using a key, which is a unique identifier for the value (e.g., my_dict["name"]).

So, lists use positions, while dictionaries use keys for data retrieval.

# Practical Questions

### 1. Write a code to create a string with your name and print it.

In [2]:
my_name = "Gaurav Kumar Kardam"
print(my_name)

Gaurav Kumar Kardam

### 2. Write a code to find the length of the string "Hello World".

In [3]:
my_string = "Hello World"
string_length = len(my_string)
print(string_length)

11

### 3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [4]:
my_string = "Python Programming"
sliced_string = my_string[0:3]
print(sliced_string)

Pyt

### 4. Write a code to convert the string "hello" to uppercase.

In [5]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

### 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

### 6. Write a code to create a list with numbers 1 to 5 and print it.

In [7]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

### 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [8]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

### 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [9]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

### 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [10]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

### 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

### 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

### 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

### 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

### 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index("cat")
print(index_of_cat)

1

### 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
fruit_tuple = ('apple', 'banana', 'orange')
if 'kiwi' in fruit_tuple:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

### 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

### 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [18]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

### 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [19]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

### 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print(union_set)

{1, 2, 3, 4, 5}

### 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [21]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1 & set2
print(intersection_set)

{2, 3}

### 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
my_dict = {"name": "Alice", "age": 30, "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

### 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

### 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

### 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

### 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
my_dict = {'name': 'Alice', 'city': 'Paris'}

if 'city' in my_dict:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

### 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
my_list = [1, 2, 3, 'apple', 'banana']
my_tuple = ('red', 'green', 'blue')
my_dictionary = {'name': 'Charlie', 'age': 35, 'city': 'London'}

print("My List:", my_list)
print("My Tuple:", my_tuple)
print("My Dictionary:", my_dictionary)

My List: [1, 2, 3, 'apple', 'banana']
My Tuple: ('red', 'green', 'blue')
My Dictionary: {'name': 'Charlie', 'age': 35, 'city': 'London'}

### 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [28]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]
print("Original list:", random_numbers)

# Sort the list in ascending order
random_numbers.sort()
print("Sorted list:", random_numbers)

Original list: [33, 62, 32, 4, 34]
Sorted list: [4, 32, 33, 34, 62]

### 28. Write a code to create a list with strings and print the element at the third index.

In [29]:
my_string_list = ["apple", "banana", "cherry", "date", "elderberry"]
third_index_element = my_string_list[3]
print(third_index_element)

date

### 29. Write a code to combine two dictionaries into one and print the result.

In [30]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 30. Write a code to convert a list of strings into a set.

In [31]:
my_list_of_strings = ["apple", "banana", "apple", "orange", "banana"]
my_set_of_strings = set(my_list_of_strings)
print(my_set_of_strings)

{'orange', 'banana', 'apple'}